# Archives and releases
*.zip
*.tar.gz

# OS and Editor files
.DS_Store
Thumbs.db
desktop.ini
*.log
.vscode/
.idea/

# Node / Build tools
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SVN working copy folders if placed inside
.svn/
